.button
{
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid #c4c9cd;
    background: #50d5ad;
    cursor: pointer;
}

.save
{
    align-self: flex-end;
}

.delete
{
    align-self: center;
    width: 100%;
}

@media only screen and (max-width: 767px){
    .button
    {
        padding: 10px 20px;
    }  
}